// FONTS
$family-sans-serif: "Karla", sans-serif;
$heading-sans-serif: "Montserrat", sans-serif;

// COLOR SCHEME

$coral: #e66262;
$pink: #f69697;

$primary: $coral;
$primary-invert: $white;
$secondary: $pink;
$link: $secondary;

// VARIABLE OVERRIDES

$navbar-height: 4.75rem;
